{% extends "reserve/base.html" %}
{% load crispy_forms_tags %}

{% block up %}
    <h1 class="display-4" style="text-align: center">Welcome!</h1>
    <p class="lead font-italic" style="text-align: center;">Enter your information to sign in.</p>
    <hr class="my-4">
{% endblock up  %}


{% block content %}
    <form action="" method="post" autocomplete="off">

    {% if inv == 0 %}
        <p style="color: red">Invalid username or password</p>
    {% endif %}

    {% csrf_token %}

    {{ form|crispy }}

    <button type="submit" class="btn btn-success"><i class="fas fa-database"></i> Log In</button>
    <br>
    <br>
    <p>Don't have an account? Create <a href="{% url 'sign_up' %}"><u>here</u></a></p>
    </form>
{% endblock content %}